
body{
  
  text-align: center;
  width: 100%;
}
.Desktop-HD {
    margin: auto;
    width: 1440px;
    height: 1200px;

  }

  a {
    color: red; 
   }
   a:visited {
    color: #cecece;
   }
   a:active {
    color: #ffff00; 
   }

  .text1{
    margin:auto;
    width: 498px;
    height: 134px;
    font-family: AvenirNext,sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #86939e;    
  }

  .text2{
   
    margin:auto;
    width: 487px;
    height: 176px;
    font-family: AvenirNext,sans-serif;
    font-size: 29px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #86939e; 

     
  }

  .ovochi{
  
    float: left;
    margin-left: 0px;
   margin-top: 30px;
    
    
  }
  
  .igo{

    float: right;
    margin-right: -10px;
  margin-top: 30px;
  }
  


       .text3 {
        margin:auto;
            width: 548px;
            height: 210px;
            font-family: AvenirNext;
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #86939e;}

   p {
        padding: 5px;
        margin:auto;
        width: 498px;
        height: 134px;
        font-family: AvenirNext,sans-serif;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #86939e; 
    }
          


.kartinka1{
    float: left;
    margin-left: 470px;
    padding-top: 20px;
    width: 240px;
 
}
.text4{
  padding: 10px;
  font-family: AvenirNext,sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-left: 180px;
    color: #86939e;
}

.kartinka2{
  float: right;
  margin-right : 690px;
  padding: 10px;
  width: 240px;
}

.text5{
  
  padding: 20px;
  font-family: AvenirNext,sans-serif;
  font-size: 38px;
  float: left;
  margin-left: 350px;
    color: #86939e;
}

.kartinka3{
  padding: 20px;
  margin-left: 50px;
}
.text5_1{
  font-family: AvenirNext,sans-serif;
  font-size: 28px;
  color: #1f8649;
}

.kartinka4{
  float: left;
  margin-left: 50px;
  padding: 20px;
}

.kartinka5{
  float: right;
  margin-right: 80px;
  padding: 20px;
}