
body{
  
  text-align: center;
  width: 100%;
}
.Desktop-HD {
    margin: auto;


  }

  a {
    color: red; 
   }
   a:visited {
    color: #cecece;
   }
   a:active {
    color: #ffff00; 
   }

   .bezr{
    margin:auto;

    font-family: AvenirNext,sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #86939e; 
   }

  .size30{
    font-size: 30px; 
    width: 498px;
  height: 134px;
  }

  .size25{
    font-size: 25px; 
    width: 498px;
  height: 134px;
  }

  .bold{
    padding: 10px;
    font-family: AvenirNext,sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-left: 180px;
      color: #86939e;
  }

  .block1{
    margin: auto;
    width: 487px;
    height: 130px;
  }
  .ovochi{
  
    float: left;
    margin-left: 0px;
   margin-top: 30px;
    
    
  }
  
  .igo{

    float: right;
    margin-right: -10px;
  margin-top: 30px;
  }
  



   p {
        padding: 5px;
        margin:auto;
        font-family: AvenirNext,sans-serif;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #86939e; 
    }
          
   .block2 {
      margin: auto;
      width: 487px;
      height: 300px;
    }

.kartinka1{
    padding-top: 20px;
    width: 240px;

    
}


.kartinka2{
  padding: 10px;
  width: 240px;
}


.size38{
  margin: auto;
  padding: 20px;
  font-family: AvenirNext,sans-serif;
  font-size: 38px;
 
    color: #86939e;
}

.kartinka3{
  padding: 20px;
  margin: auto;
}

.kartinka4{
  float: left;
  padding: 20px;
}

.kartinka5{
  float: right;
  padding: 20px;
}

.color_green{
  font-family: AvenirNext,sans-serif;
  font-size: 28px;
  color: #1f8649;
}